/* CSS RESET*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*css Variables */

:root {
  --navbar-height: 59px;
}

/* Navigation Bar*/
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 69%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

/*navigation Bar: Logo and image*/

#logo {
  margin: 10px 20px;
}
#logo image {
  height: 23px;
  margin: 3px 6px;
}

/*navigation Bar: List style*/

#navbar ul {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home section*/
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 395px;
}

#home::before {
  content: "";
  position: absolute;
  background: url(css/wp4.jpg) no-repeat center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1.2;
}

#home h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

/*Service Section*/
#services {
  margin: 40px;
  display: flex;
}
#services .box {
  border: 2px solid rgb(71, 19, 19);
  padding: 69px;
  margin: 3px 6px;
  border-radius: 28px;
  background: #f2f2f2;
}
#services .box img {
  height: 156px;
  margin: auto;
  display: block;
}
#services .box p {
  font-family: "Montserrat", sans-serif;
}

/*Clint section*/
#client-section {
  height: 400px;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url(css/wp3.jpg);
  width: 100%;
  height: 64%;
  z-index: -1;
  opacity: 0.4;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  padding: 34px;
}
#clients img {
  height: 120px;
}

#clients h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

/*Contact Section*/
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url(css/wp5.jpg) no-repeat center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
}

footer {
  background: black;
  color: #f2f2f2;
  padding: 9px 20px;
}

/*utility Classes*/
.h-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem;
  padding: 45px;
}

.h-secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  padding: 12px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid rgb(246, 239, 239);
  background-color: rgb(88, 14, 14);
  color: white;
  margin: 34px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.center {
  text-align: center;
}
